In [1]:
x=[1,2,3,4,5]

In [2]:
x

[1, 2, 3, 4, 5]

Presenting Sample of what i learned

In [3]:
y=[12,25,34,41,56]

In [4]:
x=5+3
print(x)

8

In [5]:
print(y)

[12, 25, 34, 41, 56]

In [6]:
type(y)

list

In [7]:
x1=12
x2='Abhinendr Sharma'
x3={'A':45,'B':78,'C':92}
x4=float(4.34)       #We are converting int to FLoat
x5='A'

In [8]:
format=[type(x1),type(x2),type(x3),type(x4),type(x5)]
print(format)

[<class 'int'>, <class 'str'>, <class 'dict'>, <class 'float'>, <class 'str'>]

In [9]:
print("I\'m Abhinendr Sharma")
print('Sample ' 'for ' 'Nothing')
print("Sample for Nothing")
x="This is to print the data"

I'm Abhinendr Sharma
Sample for Nothing
Sample for Nothing

In [10]:
y=print(5**4)

625

In [11]:
y==625

False

In [12]:
# Line Continuation
2.0+1.5*5\
+4.5

14.0

In [13]:
#Starting with Indexing
print('Friday'[3])
"December"[6]

d

'e'

In [14]:
# Funtions----->>>>>
def func_sq(x):
    x=x*x
    return x

print(func_sq(5))

25

In [15]:
# Conditional Elif----->>>>>
if (5==5/3):
    print('Why')
elif 5==5:
    print('How is this possible?')
else:
    print("Blah Blah Blah")

How is this possible?

In [16]:
# Nested Fucntion----->>>>>
def bread(q_bread):
    price_bread=q_bread*25
    return price_bread

def butter_bill(q_butter):
    return bread(q_butter)+70

print(bread(4),butter_bill(2))

100 120

In [17]:
# Built-In-Functions----->>>>>
y=[12,25,34,41,56]
type(12.3),max(12,23,44),str(599),sum(y),round(2.4444,2),pow(10,3),len("AbhinendrSharma")

(float, 44, '599', 168, 2.44, 1000, 15)

In [18]:
# Lists
members=['John','Killmonger','Obadiah','Kaicellius']
members[-1]
members[2]
del members[3]   #Deleting the Index
members

['John', 'Killmonger', 'Obadiah']

In [19]:

members=['John','Killmonger','Obadiah','Kaicellius']
members.append('RedSkull')

In [20]:
members.extend(['Ivanko','Mysterio','Loki'])

In [21]:
members.append('Loki')

In [22]:
members

['John',
 'Killmonger',
 'Obadiah',
 'Kaicellius',
 'RedSkull',
 'Ivanko',
 'Mysterio',
 'Loki',
 'Loki']

In [23]:
members[0]='Ultron'
members.pop(-1)

'Loki'

In [24]:
members

['Ultron',
 'Killmonger',
 'Obadiah',
 'Kaicellius',
 'RedSkull',
 'Ivanko',
 'Mysterio',
 'Loki']

In [25]:
members[1:3]

['Killmonger', 'Obadiah']

In [26]:
members[-3:]

['Ivanko', 'Mysterio', 'Loki']

In [27]:
members.index('RedSkull')

4

In [28]:
#Nesting the lists
Avengers=['Tony','Cap','Falcon','Strange','Bucky','Wanda']
Avengers

['Tony', 'Cap', 'Falcon', 'Strange', 'Bucky', 'Wanda']

In [29]:
marvel=[Avengers,members]
marvel

[['Tony', 'Cap', 'Falcon', 'Strange', 'Bucky', 'Wanda'],
 ['Ultron',
  'Killmonger',
  'Obadiah',
  'Kaicellius',
  'RedSkull',
  'Ivanko',
  'Mysterio',
  'Loki']]

In [30]:
members.sort()
Avengers.sort()
marvel.sort()
members
Avengers

['Bucky', 'Cap', 'Falcon', 'Strange', 'Tony', 'Wanda']

In [31]:
members.sort(reverse=True)
members

['Ultron',
 'RedSkull',
 'Obadiah',
 'Mysterio',
 'Loki',
 'Killmonger',
 'Kaicellius',
 'Ivanko']

In [32]:
#STarting with Tuples
(age,Name)="24,'Abhinendr'".split(',')
print(age)
print(Name)

24
'Abhinendr'

In [33]:
#Dictionaries
dict={'K1':23,'K2':25,'K3':33}
dict['K2']
dict['K3']='Out of Age'
dict.keys()
dict.values()
dict.items()

dict_items([('K1', 23), ('K2', 25), ('K3', 'Out of Age')])

In [34]:
#For i loops
even=[2,4,6,8,10,12,14,16,18,20]
for i in even:
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [35]:
#While Loops
x=1
while x<=21:
    print(x,end=" ")
    x=x+2

1 3 5 7 9 11 13 15 17 19 21

In [36]:
list(range(0,20,2))
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [37]:
for x in range(20):
    if x%2==0:
        print(x,end=" ")
    else:
        print("Odd",end=" ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [38]:
#For loop using index
even=[2,4,6,8,10,12,14,16,18,20]
for n in range(len(even)):
    print(even[n],end=" ")

2 4 6 8 10 12 14 16 18 20

In [39]:
def count(numbers):#Find Only those which come under 100
    total=0
    list_empty=[]
    for x in numbers:
        if x<100:
            total+=1
    return total

list_1=[1,32,5,123,4,13]
count(list_1)

5