<b>Opening and CLosing of File</b>

In [2]:
filename = "source.txt"
filename

'source.txt'

In [3]:
file=open(filename,mode='r')
file.read()

'This is a simple illustration'

In [4]:
file.read()

''

In [5]:
file=open(filename,mode='r')
text=file.read() #Storing the values of file in Text
text

'This is a simple illustration'

In [6]:
text

'This is a simple illustration'

In [7]:
file.closed

False

In [8]:
file.close()

In [9]:
file.closed

True

<b> Importing with 'OPEN WITH'</b>

In [10]:
filename = "source.txt"

In [11]:
file=open(filename,mode='r')
text=file.read()
file.close()

In [12]:
#The file system automaticallyclosed
with open(filename,mode='r') as out_file:
    out_file.read()

In [13]:
print(text)

This is a simple illustration

In [14]:
print(out_file)

<_io.TextIOWrapper name='source.txt' mode='r' encoding='cp1252'>

In [15]:
with open(filename,mode='w') as out_file:
    out_file.write("This is a simple illustration")

In [17]:
file=open(filename,mode='r') #Again we have to open and call to see the new text Writted
text=file.read()
file.close()

In [18]:
print(text)

This is a simple illustration

<b>Importing csv`s using Pandas</b>

In [19]:
filename="Sample-Val.csv"
file=open(filename,mode='r')
text=file.read()

In [20]:
print(text)

Date, Description, Account, Amount,Maturity
24-09-2013,Initial deposit for goal creation from SBA-9978,savings for me and Bro,5000,25
30-09-2013,Interest Deposit,savings for me and Bro,7,15
10/10/2013,Miscellaneous Deposit,savings for me and Bro,30000,33
10/10/2013,Miscellaneous Deposit,savings for me and Bro,2500,10
15-10-2013,Miscellaneous Deposit,savings for me and Bro,1,15
30-11-2013,User added funds from SBA-9978,savings for me and Bro,10000,17
5/12/2013,User added funds from SBA-9978,savings for me and Bro,100,19
31-12-2013,Interest Deposit,savings for me and Bro,739,24
1/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,12
5/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,13
4/2/2014,User added funds from SBA-9978,savings for me and Bro,5000,14
27-02-2014,User added funds from SBA-9978,savings for me and Bro,4653,18

In [21]:
import pandas as pd

In [22]:
 type(text)

str

In [23]:
pd.read_csv('Sample-Val.csv') #It will create a Data Frame for us

,Date,Description,Account,Amount,Maturity
0,24-09-2013,Initial deposit for goal creation from SBA-9978,savings for me and Bro,5000,25
1,30-09-2013,Interest Deposit,savings for me and Bro,7,15
2,10/10/2013,Miscellaneous Deposit,savings for me and Bro,30000,33
3,10/10/2013,Miscellaneous Deposit,savings for me and Bro,2500,10
4,15-10-2013,Miscellaneous Deposit,savings for me and Bro,1,15
5,30-11-2013,User added funds from SBA-9978,savings for me and Bro,10000,17
6,5/12/2013,User added funds from SBA-9978,savings for me and Bro,100,19
7,31-12-2013,Interest Deposit,savings for me and Bro,739,24
8,1/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,12
9,5/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,13
10,4/2/2014,User added funds from SBA-9978,savings for me and Bro,5000,14
11,27-02-2014,User added funds from SBA-9978,savings for me and Bro,4653,18

In [24]:
type(pd.read_csv(filename)) #Read_csv can read txt files as well

pandas.core.frame.DataFrame

In [25]:
pd.read_csv('Sample-Val.csv',header=5) #Missing out 5 Top Rows,marking 5 as Header & Header is counted as a row too

,15-10-2013,Miscellaneous Deposit,savings for me and Bro,1,15
0,30-11-2013,User added funds from SBA-9978,savings for me and Bro,10000,17
1,5/12/2013,User added funds from SBA-9978,savings for me and Bro,100,19
2,31-12-2013,Interest Deposit,savings for me and Bro,739,24
3,1/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,12
4,5/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,13
5,4/2/2014,User added funds from SBA-9978,savings for me and Bro,5000,14
6,27-02-2014,User added funds from SBA-9978,savings for me and Bro,4653,18

In [26]:
filename_1="Sample-Val.csv"
file_1=pd.read_csv(filename_1)
file_1

,Date,Description,Account,Amount,Maturity
0,24-09-2013,Initial deposit for goal creation from SBA-9978,savings for me and Bro,5000,25
1,30-09-2013,Interest Deposit,savings for me and Bro,7,15
2,10/10/2013,Miscellaneous Deposit,savings for me and Bro,30000,33
3,10/10/2013,Miscellaneous Deposit,savings for me and Bro,2500,10
4,15-10-2013,Miscellaneous Deposit,savings for me and Bro,1,15
5,30-11-2013,User added funds from SBA-9978,savings for me and Bro,10000,17
6,5/12/2013,User added funds from SBA-9978,savings for me and Bro,100,19
7,31-12-2013,Interest Deposit,savings for me and Bro,739,24
8,1/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,12
9,5/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,13
10,4/2/2014,User added funds from SBA-9978,savings for me and Bro,5000,14
11,27-02-2014,User added funds from SBA-9978,savings for me and Bro,4653,18

In [27]:
print(file_1)

          Date                                      Description  \
0   24-09-2013  Initial deposit for goal creation from SBA-9978
1   30-09-2013                                 Interest Deposit
2   10/10/2013                            Miscellaneous Deposit
3   10/10/2013                            Miscellaneous Deposit
4   15-10-2013                            Miscellaneous Deposit
5   30-11-2013                   User added funds from SBA-9978
6    5/12/2013                   User added funds from SBA-9978
7   31-12-2013                                 Interest Deposit
8     1/1/2014                   User added funds from SBA-9978
9     5/1/2014                   User added funds from SBA-9978
10    4/2/2014                   User added funds from SBA-9978
11  27-02-2014                   User added funds from SBA-9978

                   Account   Amount  Maturity
0   savings for me and Bro     5000        25
1   savings for me and Bro        7        15
2   savings for me and Bro    30000        33
3   savings for me and Bro     2500        10
4   savings for me and Bro        1        15
5   savings for me and Bro    10000        17
6   savings for me and Bro      100        19
7   savings for me and Bro      739        24
8   savings for me and Bro     1000        12
9   savings for me and Bro     1000        13
10  savings for me and Bro     5000        14
11  savings for me and Bro     4653        18

In [28]:
file_2=pd.read_csv(filename_1)
file_2

,Date,Description,Account,Amount,Maturity
0,24-09-2013,Initial deposit for goal creation from SBA-9978,savings for me and Bro,5000,25
1,30-09-2013,Interest Deposit,savings for me and Bro,7,15
2,10/10/2013,Miscellaneous Deposit,savings for me and Bro,30000,33
3,10/10/2013,Miscellaneous Deposit,savings for me and Bro,2500,10
4,15-10-2013,Miscellaneous Deposit,savings for me and Bro,1,15
5,30-11-2013,User added funds from SBA-9978,savings for me and Bro,10000,17
6,5/12/2013,User added funds from SBA-9978,savings for me and Bro,100,19
7,31-12-2013,Interest Deposit,savings for me and Bro,739,24
8,1/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,12
9,5/1/2014,User added funds from SBA-9978,savings for me and Bro,1000,13
10,4/2/2014,User added funds from SBA-9978,savings for me and Bro,5000,14
11,27-02-2014,User added funds from SBA-9978,savings for me and Bro,4653,18

<b>Importing using Numpy</b>

In [29]:
import numpy as np

In [30]:
filename="Sample-Val.csv"
file_numpy_load=np.genfromtxt(filename,delimiter=',') #Need of Defining Delimiters
file_numpy_load

array([[      nan,       nan,       nan,       nan,       nan],
       [      nan,       nan,       nan, 5.000e+03, 2.500e+01],
       [      nan,       nan,       nan, 7.000e+00, 1.500e+01],
       [      nan,       nan,       nan, 3.000e+04, 3.300e+01],
       [      nan,       nan,       nan, 2.500e+03, 1.000e+01],
       [      nan,       nan,       nan, 1.000e+00, 1.500e+01],
       [      nan,       nan,       nan, 1.000e+04, 1.700e+01],
       [      nan,       nan,       nan, 1.000e+02, 1.900e+01],
       [      nan,       nan,       nan, 7.390e+02, 2.400e+01],
       [      nan,       nan,       nan, 1.000e+03, 1.200e+01],
       [      nan,       nan,       nan, 1.000e+03, 1.300e+01],
       [      nan,       nan,       nan, 5.000e+03, 1.400e+01],
       [      nan,       nan,       nan, 4.653e+03, 1.800e+01]])

In [31]:
file_numpy_load=np.loadtxt(filename,delimiter=',') #NAN-Not a Number
file_numpy_load

ValueError: could not convert string to float: 'Date'

In [32]:
file_numpy_load_partial=np.genfromtxt(filename,delimiter=',', skip_header=3)
file_numpy_load_partial

array([[      nan,       nan,       nan, 3.000e+04, 3.300e+01],
       [      nan,       nan,       nan, 2.500e+03, 1.000e+01],
       [      nan,       nan,       nan, 1.000e+00, 1.500e+01],
       [      nan,       nan,       nan, 1.000e+04, 1.700e+01],
       [      nan,       nan,       nan, 1.000e+02, 1.900e+01],
       [      nan,       nan,       nan, 7.390e+02, 2.400e+01],
       [      nan,       nan,       nan, 1.000e+03, 1.200e+01],
       [      nan,       nan,       nan, 1.000e+03, 1.300e+01],
       [      nan,       nan,       nan, 5.000e+03, 1.400e+01],
       [      nan,       nan,       nan, 4.653e+03, 1.800e+01]])

In [ ]:
file_numpy_load_partial=np.genfromtxt(filename,delimiter=',', skip_footer=3) #Removing Rows
file_numpy_load_partial

In [ ]:
file_numpy_load_partial=np.genfromtxt(filename,delimiter=',', usecols=(0,3)) #Removing Columns
file_numpy_load_partial

In [ ]:
file_numpy_load_partial=np.genfromtxt(filename,delimiter=',', skip_header=3,skip_footer=3, usecols=(0,3))
file_numpy_load_partial

In [ ]:
file_np_1,file_np_2=np.genfromtxt(filename,delimiter=',', skip_header=3,skip_footer=3, usecols=(0,3), unpack=True)

print(file_np_1)
print(file_np_2)