In [5]:
price_per_category= '{"Product A":22600,"Product B":24000,"Product C":70220}' #EndandStart with `
price_per_category

'{"Product A":22600,"Product B":24000,"Product C":70220}'

In [6]:
type(price_per_category)

str

In [7]:
import json

In [8]:
parse_json=json.loads(price_per_category) #String to Dictionary

In [11]:
parse_json

{'Product A': 22600, 'Product B': 24000, 'Product C': 70220}

In [13]:
type(parse_json)

dict

<B>Read Data from Excel</B>

In [15]:
import pandas as pd

In [ ]:
filename="Sample-Excel.xls"

In [ ]:
my_xcel=pd.read_excel(filename)
my__xcel

<b>Importing Files in Jupyter Note</b>

In [ ]:
pd.read_csv("Sample-Val.csv")

In [ ]:
#Stored Someplace else File
pd.read_csv("D:\Sample-Val2.csv")

In [21]:
import os, inspect

In [24]:
if '__file__' not in locals():
    fx=inspect.getframeinfo(inspect.currentframe())[0]
else:
    fx=__file__

In [25]:
os_dir=os.path.dirname(os.path.abspath(fx))
print(os_dir)

C:\Users\abhinendr.sharma\Documents

<b>Save as in Pandas</b>

In [28]:
#to_csv,to_json,to_excel
filename="Sample-Val.csv"
fname=pd.read_csv(filename)
fname.head()

,Date,Description,Account,Amount
0,24-09-2013,Initial deposit for goal creation from SBA-9978,savings for me and Bro,5000.0
1,30-09-2013,Interest Deposit,savings for me and Bro,7.0
2,10-10-2013,Miscellaneous Deposit,savings for me and Bro,30000.0
3,10-10-2013,Miscellaneous Deposit,savings for me and Bro,2500.0
4,15-10-2013,Miscellaneous Deposit,savings for me and Bro,1.0

In [30]:
fname.to_json('Sample-ValJson.json')

In [32]:
fname.to_excel('Sample-ValExcel.xlsx')

<b>Saving data with Numpy</b>

In [33]:
import numpy as np

In [45]:
file_co=np.genfromtxt("Sample-Val.csv", delimiter=',', usecols=[1,3], skip_header=4,skip_footer=3)
file_co

array([[     nan, 2.50e+03],
       [     nan, 1.00e+00],
       [     nan, 1.00e+04],
       [     nan, 1.00e+02],
       [     nan, 7.39e+02],
       [     nan, 1.00e+03]])

In [48]:
np.save("File_Saved_numpy_csv",file_co)

In [49]:
#Importing npy file saved
file_co_import=np.load("File_Saved_numpy_csv.npy")

In [52]:
print(file_co_import)

[[     nan 2.50e+03]
 [     nan 1.00e+00]
 [     nan 1.00e+04]
 [     nan 1.00e+02]
 [     nan 7.39e+02]
 [     nan 1.00e+03]]

In [54]:
#Comparing both files
np.array_equal(file_co,file_co_import)

False

In [57]:
#np.savez()
np.savez("File_Saved_numpy_csv",file_co,file_co_import)

In [64]:
file_co_import_npz=np.load("File_Saved_numpy_csv.npz")
file_co_import_npz

In [61]:
file_co_import_npz["arr_1"]

array([[     nan, 2.50e+03],
       [     nan, 1.00e+00],
       [     nan, 1.00e+04],
       [     nan, 1.00e+02],
       [     nan, 7.39e+02],
       [     nan, 1.00e+03]])

In [63]:
#Saving with Npsavez, with thier respective array Names
np.savez("File_Saved_numpy_csv",BasicFile=file_co, Modified_file=file_co_import)

In [66]:
file_co_import_npz.files

['BasicFile', 'Modified_file']

<b>Saving into Text Files</b>

In [78]:
np.savetxt("File_Saved_numpy_text.txt",file_co, fmt='%s' , delimiter=',')

In [82]:
file_co_txt=np.genfromtxt("File_Saved_numpy_text.txt",delimiter=',',dtype=np.str)
file_co_txt

array([['nan', '2500.0'],
       ['nan', '1.0'],
       ['nan', '10000.0'],
       ['nan', '100.0'],
       ['nan', '739.0'],
       ['nan', '1000.0']], dtype='<U7')

<b>Using the Format() Method</b>

In [84]:
time_horizon=1,3,12 #Tuples
time_horizon

(1, 3, 12)

In [86]:
products=['Product A','Product B'] #Lists
products

['Product A', 'Product B']

In [87]:
'Expected sales for a period of {} months(s) for {}:'.format(12,'Product B')

'Expected sales for a period of 12 months(s) for Product B:'

In [99]:
'Expected sales for a period of {} months(s) for {}:'.format(time_horizon,products)

"Expected sales for a period of (1, 3, 12) months(s) for ['Product A', 'Product B']:"

In [91]:
'Expected sales for a period of {} months(s) for {}:'.format(time_horizon[2],products[1])

'Expected sales for a period of 12 months(s) for Product B:'

In [93]:
#Positional or Keyword Format methods
'Expected sales for a period of {1} months(s) for {0}:'.format(time_horizon[2],products[1]) #Positional

'Expected sales for a period of Product B months(s) for 12:'

In [94]:
'Expected sales for a period of {t_hor} months(s) for {prod}:'.format(t_hor=12,prod='Product B') #Keyword

'Expected sales for a period of 12 months(s) for Product B:'

In [97]:
'Expected sales for a period of {t_hor} months(s) for {prod[0]}:'.format(t_hor=12,prod=['Product A','Product B']) #Keyword

'Expected sales for a period of 12 months(s) for Product A:'

In [100]:
'Expected sales for a period of {t_hor[1]} months(s) for {prod[1]}:'.format(t_hor=time_horizon,prod=products)

'Expected sales for a period of 3 months(s) for Product B:'

In [101]:
'Expected sales for a period of {t_hor[1]} months(s) for {prod[1]}: ${sales}'.format(t_hor=time_horizon,prod=products,sales=10000)

'Expected sales for a period of 3 months(s) for Product B: $10000'