<b>Iteration</b>

In [ ]:
t=(1,2,3,4,5)
l=[2,4,6,8]
s="Abhinendr"

In [ ]:
for i in t:
    print(i,end=" ")

In [ ]:
for i in range(5): #Here we using iterable
    print(i,end=" ")

<b>Nested Loops</b>

In [ ]:
for i in range(2):
    print(i)

In [ ]:
for j in range(5):
    print(j)

In [ ]:
for i in range(2):
    for j in range(5):
        print([i,j])

In [ ]:
for i in ['Product A','Product B']:
    for j in [2272,2323,1341,4334]:
        print([i,j])

<b>Triple Nested For Loops</b>

In [ ]:
products=['Product A','Product B']
sales=[2323,1241,3477,4667]

In [ ]:
time_horizon=(1,3,12)

In [ ]:
for i in products:
    for j in sales:
        for k in time_horizon:
            print([i,j*k])

In [ ]:
for i in products:
    for j in sales:
        for k in time_horizon:
            print('Expected sales for product {0} in period of {1} :${sales}'.format(i,j,sales=k*j)) #Keyword Format

In [ ]:
for i in products:
    for j in sales:
        for k in time_horizon:
            print('Expected sales for product {prod[1]} in period of {sale[1]} :${sales}'.format(prod=i,str(sale=j),sales=k*j)) #Keyword Format

<b>List Comprehensions</b>

In [30]:
numbers=[1,2,5,10,20,50]

In [32]:
new_numbers=[]
for n in numbers:
    new_numbers.append(n*2)
    
print(new_numbers)

[2, 4, 10, 20, 40, 100]

In [33]:
new_numbers= [n*2 for n in numbers]
print(new_numbers)

[2, 4, 10, 20, 40, 100]

In [34]:
new_list_comprehension=[i+j for i in range(2) for j in range(5)]

In [35]:
type(new_list_comprehension)

list

In [36]:
new_list_comprehension

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [37]:
new_list_comprehension_1=[[i+j for i in range(2)] for j in range(5) ] #Nested Lists

In [38]:
new_list_comprehension_1

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [39]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
#List Comprehension with Condition
[num**3 for num in range(1,11) if num%2!=0]

[1, 27, 125, 343, 729]

In [44]:
#Directly on the output but with all conditions should be displayed

[num**3 if num%2!=0 else "even" for num in range(1,11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

<b>Lambda Fucntions in Python</b>

In [48]:
def raise_to_power_2(x):
    return x**2

In [49]:
raise_to_power_2(3)

9

In [50]:
lambda x:x**2

In [52]:
#Assigning using Lambda Funcions
raise_2=lambda x:x**2

raise_2(4)

16

In [54]:
(lambda x:x/2)(11)

5.5

In [55]:
(lambda x:(2+5*x**4)**2/(x+3)**3)(2)

53.792

In [56]:
#Using 2 paramters
sum_xy=lambda x,y:x+y
sum_xy(2,3)

5

In [63]:
sum_xy2=lambda x,y:x+y(x)
sum_xy2(2)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [64]:
sum_xy2(2,lambda x:x*5) #Write in terms of x openly, instead of y

12