<b><h2><center>SQLServer DB Creation

In [1]:
import pyodbc #for sql Server

In [9]:
dbsql = pyodbc.connect ( #Connection Creation
    Driver="{SQL Server}",
    Server="NGHTFOX27",
    Database="DemoDB",
    Trusted_Connection="yes"
    )

print(dbsql)
s
cur = dbsql.cursor() #Cursor Class to Session

<pyodbc.Connection object at 0x000001FC515B0D30>

<b>Creating Database

In [8]:
sqlcursor = dbsql.cursor()
sqlcursor.execute("CREATE DATABASE sql_demo")

<b>ShowDatabase

In [15]:
cur.execute("SELECT name FROM SYS.DATABASES")

for i in cur:
    print(i)

('master', )
('tempdb', )
('model', )
('msdb', )
('SQLTutorial', )
('DemoDB', )
('sql_demo', )

<b>Connecing to Database

In [16]:
dbsql = pyodbc.connect(
    Driver="{SQL Server}",
    Server="NGHTFOX27",
    Database="sql_demo",
    Trusted_Connection="yes"
)

In [17]:
democur = dbsql.cursor()
democur.execute("CREATE TABLE Employee (EmployeeId INT, EmployeeName VARCHAR(25))")

<b>Inserting Value

In [20]:
insertsql = "Insert into Employee (EmployeeId, EmployeeName) Values (?,?)"
valsql = (12231, "Abhinendr Sharma")
democur.execute(insertsql,valsql)

In [24]:
democur.execute(''' INSERT INTO Employee (EmployeeId, EmployeeName)
              VALUES 
                (12281, 'Sarvottam Singh'),
                (13212, 'Gomathi MunuSamy'),
                (11221, 'Rajat Singh Bahadur'),
                (12312, 'Kshitij Singh')
                ''')

In [25]:
democur.commit()

<b>Select Query

In [27]:
democur.execute(''' SELECT * FROM EMPLOYEE ''') #Use ''' ''' for query 

results = democur.fetchall()

for x in results:
    print(x)

(12231, 'Abhinendr Sharma')
(12281, 'Sarvottam Singh')
(13212, 'Gomathi MunuSamy')
(11221, 'Rajat Singh Bahadur')
(12312, 'Kshitij Singh')

In [28]:
democur.close()