<b>Learning Pandas Basics</b>

In [3]:
import pandas as pd

In [5]:
pd.__version__ #Checking out the version

'1.0.1'

In [8]:
products=['A','B','C','D']
products
type(products)

list

In [12]:
#Turning list in Series

product_catelog=pd.Series(products)

In [14]:
product_catelog #List converted into Series

0    A
1    B
2    C
3    D
dtype: object

In [16]:
type(product_catelog)

pandas.core.series.Series

In [18]:
type(pd.Series(products))

pandas.core.series.Series

In [20]:
daily_rates_dollars=pd.Series([40,22,34,45])
daily_rates_dollars

0    40
1    22
2    34
3    45
dtype: int64

In [22]:
print(daily_rates_dollars)

0    40
1    22
2    34
3    45
dtype: int64

In [24]:
import numpy as np

In [28]:
array_a=np.array([10,20,30,40,50])
array_a
type(array_a)

numpy.ndarray

In [31]:
series_a=pd.Series(array_a)   #Converting Numpy NDArray into Series
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [33]:
type(series_a)

pandas.core.series.Series

In [36]:
#Attributes related to Pandas Series
series_a.size
series_a.dtype

dtype('int32')

In [40]:
product_catelog.dtype
product_catelog.size

4

In [45]:
product_catelog.name="PRODUCT CATEGORIES" #Name attribute of Series created
print(product_catelog.name)
product_catelog

PRODUCT CATEGORIES

0    A
1    B
2    C
3    D
Name: PRODUCT CATEGORIES, dtype: object

<b>Indexing using pandas</b>

In [48]:
price_per_category={'Product A':22600,'Product B':24000,'Product C':70220}
price_per_category

{'Product A': 22600, 'Product B': 24000, 'Product C': 70220}

In [50]:
type(price_per_category)

dict

In [52]:
price_per_category=pd.Series(price_per_category)
price_per_category

Product A    22600
Product B    24000
Product C    70220
dtype: int64

In [54]:
price_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [56]:
type(price_per_category.index)

pandas.core.indexes.base.Index

<b>Position Based and Label Based Indexing</b>

In [58]:
series_b=pd.Series([10,20,30,40,50])
series_b

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [60]:
series_b.index

RangeIndex(start=0, stop=5, step=1)

In [62]:
type(series_b.index)

pandas.core.indexes.range.RangeIndex

In [64]:
list(series_b.index) #Index into List

[0, 1, 2, 3, 4]

In [66]:
#Label-Based Indexing using price_per_category
type(price_per_category.index)

pandas.core.indexes.base.Index

In [68]:
list(price_per_category.index) #Label Based Index into List

['Product A', 'Product B', 'Product C']

<b>Indices in Python Focusing</b>

In [70]:
series_b[2]

30

In [73]:
price_per_category['Product A']
price_per_category[0]

22600

In [82]:
series_c=pd.Series([10,20,30,40,50],index=["1","2","3","4","5"])
series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [79]:
series_c.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [84]:
series_c["1"]

10

In [87]:
series_c[0]

10

In [90]:
series_c.max()

50

In [93]:
series_c.idxmax()

'5'

In [88]:
series_c.head(3)

1    10
2    20
3    30
dtype: int64

<B>Using DataFrames in Pandas using 6 Ways</B>

In [100]:
#Construct a DataFrame from Dictionary of lists
data={'ProductName':['Product A','Product B','Product C'],'ProductPrice':[22500,26020,16700]}
df=pd.DataFrame(data)
print(df)

  ProductName  ProductPrice
0   Product A         22500
1   Product B         26020
2   Product C         16700

In [101]:
df

  ProductName  ProductPrice
0   Product A         22500
1   Product B         26020
2   Product C         16700

In [103]:
#Dictionary of lists and Specify index with Product ID
data_1={'ProductName':['Product A','Product B','Product C','Product D'],'ProductPrice':[22500,26020,16700,33000]}
productId=['A','B','C','D']
df_1=pd.DataFrame(data_1, index= productId)
df_1

  ProductName  ProductPrice
A   Product A         22500
B   Product B         26020
C   Product C         16700
D   Product D         33000

In [107]:
#Lists of Dictionaries
data_2=[{'ProductName':'Product A', 'ProductPrice':22500},
        {'ProductName':'Product B', 'ProductPrice':26020},
        {'ProductName':'Product C', 'ProductPrice':16700},
        {'ProductName':'Product D', 'ProductPrice':[33000,37000]}]
df_2=pd.DataFrame(data_2)
df_2

  ProductName    ProductPrice
0   Product A           22500
1   Product B           26020
2   Product C           16700
3   Product D  [33000, 37000]

In [111]:
#From a Dictionary of Pandas Series
ser_products=pd.Series(['Product A','Product B','Product C','Product D'], index=['A','B','C','D'])
ser_prices=pd.Series([22500,26020,16600,33000], index=['B','A','D','C'])

data_3={'ProductName':ser_products,'ProductPrices':ser_prices}
df_3=pd.DataFrame(data_3)
df_3

  ProductName  ProductPrices
A   Product A          26020
B   Product B          22500
C   Product C          33000
D   Product D          16600

In [112]:
#Lists of Lists

In [114]:
#In a Professional Way
df_5=pd.DataFrame(data=[['Product A',22500], ['Product B',26200], ['Product C',33900]],
                 columns=['ProductName','ProductPrice'],
                 index=['A','B','C'])
df_5

  ProductName  ProductPrice
A   Product A         22500
B   Product B         26200
C   Product C         33900

In [115]:
df.shape

(3, 2)